* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* From uiverse.io by @adamgiebl */
.card {
  width: 35rem;
  position: flex;
  height: 35rem;
  border-radius: 30px;
  background: #666666e8;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
  font-size: 50px;
  filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
  color: #ffffff;
  text-shadow: -2px -2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000,
    2px 1px 1px #000;
}

/* From uiverse.io by @Voxybuns */
button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  margin-bottom: 50px;
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.5em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  width: 21rem;
  height: 4rem;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

button {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin-right: 2rem;
  margin-left: 2rem;
}

img {
  height: 12rem;
  filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
  margin-bottom: 2rem;
}

.cardnvls {
  width: 60rem;
  position: flex;
  height: 35rem;
  border-radius: 30px;
  background: #666666e8;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardnvls h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  font-size: 50px;
  filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
  color: #ffffff;
  text-shadow: -2px -2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000,
    2px 1px 1px #000;
}

.buttons1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttons2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
